html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  margin: 0;
}

#friday-video-container {
  display: none;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
}

#friday-video {
  display: none;
  height: 100%;
  width: 100%;
}

#click-me-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

#live-hastey-reaction {
  display: none;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  -webkit-animation: moveX 4s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 4s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 4s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 4s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: calc(100% - 397px); }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: calc(100% - 397px); }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: calc(100% - 397px); }
}
@keyframes moveX {
  from { left: 0; } to { left: calc(100% - 397px); }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: calc(100% - 290px); }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: calc(100% - 290px); }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: calc(100% - 290px); }
}
@keyframes moveY {
  from { top: 0; } to { top: calc(100% - 290px); }
}

@media only screen and (max-width: 600px) {
  #live-hastey-reaction {
    width: 100px;
    height: 73px;
  }

  @-webkit-keyframes moveX {
    from { left: 0; } to { left: calc(100% - 100px); }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: calc(100% - 100px); }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: calc(100% - 100px); }
  }
  @keyframes moveX {
    from { left: 0; } to { left: calc(100% - 100px); }
  }

  @-webkit-keyframes moveY {
    from { top: 0; } to { top: calc(100% - 73px); }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: calc(100% - 73px); }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: calc(100% - 73px); }
  }
  @keyframes moveY {
    from { top: 0; } to { top: calc(100% - 73px); }
  }
}